* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #ffffff;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffc004;
}
.logo span {
  color: #000;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 30px;
}
nav ul li a {
  font-family: "Trade Winds", serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #ffc004;
}
.btn-primary {
  background-color: #ffc004;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  opacity: 0.7;
}
section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 10px;
}
.contact h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.contact p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}
form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
form input:focus,
form textarea:focus {
  outline: none;
  border-color: #ffc004;
}
form button {
  background-color: #ffc004;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #ffc004;
}